<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          Department
        </h5>
      </div>
      <div class="">
        <div class="text-lg-end tw-pt-2 tw-pb-2 md:tw-flex tw-justify-between tw-gap-2">
          <div class="tw-mb-3 tw-flex">
          <input [(ngModel)]="searchKey" (ngModelChange)="onSearchDepartment($event)" 
          class="form-control tw-mr-[2px] tw-w-[400px]" type="text"
          placeholder="Search department">
          <span class="fa fa-search tw-bg-gray-300 tw-px-4 tw-py-4 tw-rounded-lg hover:tw-bg-gray-200 hover:tw-cursor-pointer"></span>
          </div>
          <button id="create" class="btn btn-primary tw-h-12" type="button" (click)="createDepartment()">
            <i class="fa fa-plus"></i>
            <span class="text-lg-end tw-px-2">{{ "::Add Department" | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="department.items" [count]="department.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Department Name' | abpLocalization" prop="departmentName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::OIC/NOIC' | abpLocalization" prop="departmentHead"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Telephone Line' | abpLocalization" prop="departmentTelephone">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.departmentTelephone}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Department Email' | abpLocalization" prop="departmentMail">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.departmentMail}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Date Created' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.creationTime | date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
        >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog mr-1 tw-px-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editDepartment(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="detail(row.id)">
                {{ '::View Details' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>



<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedDepartment.id ? '::Edit' : '::Create New Department' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="departmentName">Department Name</label><span> * </span>
        <input type="text" id="departmentName" class="form-control" formControlName="departmentName" autofocus />
      </div>
  
      <div class="form-group">
        <label for="departmentHead">Department Head</label>
        <input type="text" id="departmentHead" class="form-control" formControlName="departmentHead" />
      </div>
      <div class="form-group">
        <label for="departmentTelephone">Department Telephone</label>
        <input type="text" id="departmentTelephone" class="form-control" formControlName="departmentTelephone" />
      </div>
      <div class="form-group">
        <label for="departmentMail">Department Mail</label>
        <input type="text" id="departmentMail" class="form-control" formControlName="departmentMail" />
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
